body {
    font-family: Tahoma;
}

.title {
color: #333333;
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
}

.desc {
color: #333333;
font-size: 16px;
font-weight: 700;
text-align: center;
margin-top: 20px;
}



.pic {
margin-left: 45px;
width: 71px;
height: 71px;
} 
   
h2 {
margin-top: 70px;
margin-bottom: 82px;
margin-left: 300px;
}


