.price
  background-image: url('../img/cover_5.png')
  background-position:  left
  background-size: 100%, contain
  background-repeat: repeat-y, no-repeat  
  margin-top: 100px
  padding-bottom: 100px  
  &__button
    background-color: #ffc800
    width: 244px
    height: 58px    
    font-size: 28px
    font-family: Proxima Nova
    border: 0
    text-decoration: none
    position: relative
    
    // margin-left: 150px
    // margin-top: 100px

   
    &:hover
     background-color: darken(#ffd200, 5%)
     cursor: pointer
    &:focus
     outline: none !important 
  &__block
    width: 1200px
    display: flex       
    justify-content: space-between
    flex-wrap: wrap  
    margin-left: 250px   
    
  &__subtitle
    display: inline-block 
    position: relative 
    
  &__button
    &__1
      margin-left: 150px
      background-color: #ffc800
      width: 244px
      height: 58px    
      font-size: 28px
      font-family: Proxima Nova
      border: 0
      text-decoration: none
      margin-bottom: 50px
      margin-top: -25px
      &:hover
        background-color: darken(#ffd200, 5%)
        cursor: pointer
      &:focus
        outline: none !important 
  &__image
    position: absolute
  
   
  

 


  // background-image: url('../img/hover-2.png')
  // background-position:  center
  // background-size: 100%, contain
  // background-repeat: repeat-y, no-repeat 


// .card
//   &s
//     display: flex
//     // justify-content: space-between
//     // flex-wrap: wrap

//   // text-align: center  
//   &__link
//     background-color: #ffc800
//     width: 138px
//     height: 33px 
//     font-size: 15px
//     font-family: Proxima Nova
//     border: 0
//     text-decoration: none
//     &:hover
//      background-color: darken(#000000, 5%)
//      color: darken(#fdfcfc, 5%)
//      cursor: pointer
//     &:focus
//      outline: none !important  
//   &__title
//     font-size: 20px
//     color: #fcfafa 
//     font-family: Proxima Nova
//     max-width: 230px
//     &:hover
//      color: darken(#000000, 5%)
//      cursor: pointer

