.navbar {
  background-image: url("../img/cover.png");
  background-position: right center;
  background-size: 40%, contain;
  background-repeat: repeat-y, no-repeat;
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__figure {
  margin-right: 20px;
}

.navbar__text-1 {
  margin-right: 20px;
  font-family: Proxima Nova Light;
  font-size: 16px;
}

.navbar__text-1:hover {
  color: #fac400;
  cursor: pointer;
}

.navbar__logo {
  padding-left: 250px;
}

.navbar__logo__text {
  font-size: 15px;
  font-family: 'Proxima Nova Extra Bold Italic';
}

.contacts {
  margin-right: 265px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 18px;
  font-family: Proxima Nova Light;
  color: #000000;
}

.contacts__icon {
  text-align: bottom;
}

.contacts__button {
  background-color: #ffc800;
  font-size: 14px;
  height: 30px;
  width: 140px;
  border: 0;
  margin-left: 40px;
  font-family: 'ProximaNova-Bold';
}

.contacts__button:hover {
  background-color: #f0c500;
  cursor: pointer;
}

.contacts__button:focus {
  outline: none !important;
}

.hero {
  background-image: url("../img/cover-man-2.png");
  background-position: center;
  background-size: 100%, contain;
  background-repeat: repeat-y, no-repeat;
  padding-left: 250px;
  padding-top: 150px;
  padding-bottom: 30px;
}

.hero-text__title {
  margin-bottom: 10px;
  font-size: 35px;
  font-family: Proxima Nova Light;
  color: #ffc800;
}

.hero-text__subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Proxima Nova Light;
  color: #fffffe;
}

.hero-text__subtitle-2 {
  max-width: 1106px;
  font-size: 20px;
  font-family: Proxima Nova Light;
  color: #fffffe;
}

.button {
  margin-top: 50px;
  height: 44px;
  width: 185px;
  text-decoration: none;
  background-color: #ffc800;
  border: 0;
  font-size: 18px;
  font-family: 'ProximaNova-Bold';
}

.button:hover {
  background-color: #e6bd00;
  cursor: pointer;
}

.button:focus {
  outline: none !important;
}

.items {
  padding-top: 150px;
  padding-left: 500px;
}

.items__square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-left: 8px;
}

.items__square:hover {
  background-color: #fac400;
  cursor: pointer;
}

.cards {
  margin-top: 100px;
}

.price__button {
  background-color: #ffc800;
  width: 244px;
  height: 58px;
  font-size: 28px;
  font-family: Proxima Nova;
  border: 0;
  text-decoration: none;
  margin-left: 150px;
  margin-top: 100px;
}

.price__button:hover {
  background-color: #e6bd00;
  cursor: pointer;
}

.price__button:focus {
  outline: none !important;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer {
  background-image: url("../img/offer/img_square.png");
  background-position: left;
  background-size: 60%, contain;
  background-repeat: repeat-y, no-repeat;
  margin-top: 100px;
}

.offer__block {
  display: inline-block;
  padding-bottom: 50px;
}

.offer__button {
  margin-left: 150px;
  background-color: #ffc800;
  width: 244px;
  height: 58px;
  font-size: 28px;
  font-family: Proxima Nova;
  border: 0;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: -25px;
}

.offer__button:hover {
  background-color: #e6bd00;
  cursor: pointer;
}

.offer__button:focus {
  outline: none !important;
}

.offer__square-1 {
  margin-left: 200px;
}

.offer__square-2 {
  margin-left: 200px;
}

.offer__square__1 {
  width: 198px;
  height: 168px;
  background-color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
}

.offer__square__2 {
  width: 198px;
  height: 168px;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

.offer__block-2 {
  display: inline-block;
  margin-left: 150px;
  vertical-align: top;
}

.offer__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__interview {
  font-size: 35px;
  text-decoration: none;
  line-height: 90px;
  color: #ffc800;
  margin-left: 100px;
}

.offer__items {
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin-left: 15px;
  margin-right: 15px;
}

.offer__text {
  font-size: 20px;
}

.offer__simbol {
  margin-top: 15px;
  margin-left: 70px;
}

.brif {
  background-image: url("../img/brif/black.png");
  background-position: left;
  background-size: 100%, contain;
  background-repeat: repeat-y, no-repeat;
  margin-top: 100px;
}

.brif__button {
  margin-left: 150px;
  background-color: #ffc800;
  width: 244px;
  height: 58px;
  font-size: 28px;
  font-family: Proxima Nova;
  border: 0;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: -25px;
}

.brif__button:hover {
  background-color: #e6bd00;
  cursor: pointer;
}

.brif__button:focus {
  outline: none !important;
}

.brif__people {
  display: inline-block;
  margin-right: 400px;
  margin-left: 350px;
}

.brif__people__2 {
  display: inline-block;
}

.brif__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  color: #ffc800;
}

.brif__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 390px;
  line-height: 20px;
  font-size: 16px;
  margin-top: 15px;
  font-family: 'Proxima Nova Light';
  color: #fffffd;
  margin-bottom: 20px;
}

.brif__item {
  margin-top: 20px;
  color: #fffffd;
  font-size: 13px;
}

.brif__1 {
  margin-top: 100px;
}

.item-1 {
  padding-top: 150px;
  padding-left: 850px;
  padding-bottom: 50px;
}

.item-1__square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-left: 8px;
}

.item-1__square:hover {
  background-color: #fac400;
  cursor: pointer;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold Italic';
  src: url("../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.eot");
  src: url("../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.woff") format("woff"), url("../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/Proxima-Nova/ProximaNova-Light.eot");
  src: url("../fonts/Proxima-Nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova/ProximaNova-Light.woff") format("woff"), url("../fonts/Proxima-Nova/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/Proxima-Nova/ProximaNova-Bold.ttf");
  src: url("../fonts/Proxima-Nova/ProximaNova-Bold.ttf?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*# sourceMappingURL=stylemin.css.map */