body {
    background: rgba(90, 89, 89, 0.329);
    font-family: Arial, Helvetica, sans-serif;
    
}

.block {
    background: rgba(51, 39, 216, 0.493);
    width: 1140px;
    height: 600px;
    border: 3px  rgba(17, 17, 119, 0.411);
    margin: auto;
    margin-top: 100px;
border-style: dashed;
display: flex
}

.box {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
   

}

.box-2 {
    width: 300px;
    height: 300px;
    margin-top: 350px;
    margin-left: 50px;
   
    }

    .box-1 {
        width: 300px;
        height: 300px;
        margin-right: 20px;
    }

    .text {
    font-size: 20px
    }

.text-2 {
    color: rgba(25, 57, 117, 0.904);
    font-style: normal;
    flex-grow: 1;
   
   

 }
