@font-face {
    font-family: 'Proxima Nova Extra Bold Italic';
    src: url('../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.eot');
    src: url('../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/Proxima-Nova/ProximaNova-Light.eot');
    src: url('../fonts/Proxima-Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Light.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/Proxima-Nova/ProximaNova-Bold.ttf');
    src: url('../fonts/Proxima-Nova/ProximaNova-Bold.ttf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}