body {
    background: rgba(0, 140, 255, 0.377);
}

.one {
    text-align: center;
    color: rgba(98, 0, 255, 0.89);
}

.two {
    text-align: center;
    color: rgb(187, 127, 255);
}

.three {
    text-align: center;
    color: rgb(127, 150, 255);
}

.four {
    text-align: center;
    color: palevioletred;
}

.five {
    text-align: center;
    color: violet;
}

.six {
    color: blueviolet;
    text-align: center;
}

.ring {
    font-style: italic;
    font-weight: bold;
    background: whitesmoke;
    color: goldenrod;
}

.text {
    text-decoration: underline;
    border-style: solid;
    border-color: rgb(17, 11, 11);
    border-width: 3px;
}

.word {
    font-weight: bold;
}

.text-2 {
    text-decoration: line-through;
}

.text-3 {
    background: rgba(217, 255, 0, 0.795);
}

.text-4 {
    color: brown;
}

.text-5 {
    text-decoration: underline blue;
    color: grey;
}

span.bold {
    font-weight: bold;
    text-decoration: underline;
}

span.bold-2 {
    font-weight: bold;
}

span.bold-3 {
    font-weight: bold;
}