* {
    box-sizing: border-box;
}

.box {
width: 1200px;
height: 675px;
background-color: rgb(235, 235, 235);
padding: 86px 95px 86px 95px;
margin-left: 350px; 
}

.square {
width: 1010px;
height: 503px;
border: 1px solid #d7d7d7;
background-color: #ffffff;
padding: 64px 586px 64px 48px;
display: inline-block;
}

.button {
width: 252px;
height: 50px;
background-color: #ec744a;
margin-left: 500px;
margin-top: -64px;

}

.text {
width: 178px;
height: 22px;
color: #2f2f2f;
font-family: "Arial - Bold MT";
font-size: 23px;
font-weight: 400;
margin-left: 500px;
margin-top: -350px;;
}

.desription {
width: 393px;
height: 50px;
color: #2f2f2f;
font-family: "Arial MT";
font-size: 15px;
font-weight: 400;
margin-left: 500px;
margin-top: 40px;
}

.price-2 {
width: 35px;
height: 14px;
color: #2f2f2f;
font-family: "Arial MT";
font-size: 15px;
font-weight: 400;
margin-left: 500px;
margin-top: 50px;
}

.price {
width: 103px;
height: 28px;
color: #2f2f2f;
font-family: "Arial MT";
font-size: 30px;
font-weight: 400;
margin-left: 497px;
margin-top: 15px;
}

.text-2 {
width: 174px;
height: 18px;
color: #ffffff;
font-family: "Arial MT";
font-size: 19px;
font-weight: 400;
display: inline-block;
margin-left: 40px;
margin-top: 12px;
}

